
    
     
     .header {
    position: absolute; 
    top: 0;
    left: 0;
    display: flex;
    gap: 10px; 
    padding: 20px 0;
   }
    .menucentral {
       width: 60%; 
    height: 500px; 
    background-color: gray; 
    border-radius: 50px; 
    margin: 0 auto; 
    top: 20%; 
    transform: translateY(3%); 
    border: 2px solid goldenrod; 
    padding: 10px; 
    position: relative; 
    z-index: 5;
     
    }


   .nav{
        position: relative; 
        z-index: 1000;
         }
   .logo {
       width: 50px;
    height: auto; 
    transform: translateX(1300px);


}

.imagem {
    width: 80%; 
    height: auto; 
    border: 2px solid #000; 
    margin: 5px;
    
 }
 html.body{
  height: 100%;
  overflow: hidden;
 }

 
 
   
    h1{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    transform: translateY(85%);
    transform: translateX(-470px);
    padding: 20px;
    
    }

    p{
        color: white;
        transform: translateX(80%);
    }

    .ball {
    width: 700px;            
    height: 700px;           
    background-color: goldenrod; 
    border-radius: 50%;     
    position: fixed;          
    bottom: -300px;            
    right: -450px;             
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    z-index: 0; 
    } 

    .iframe-conteudo{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    scrollbar-width: none; 
}

.iframe-conteudo::-webkit-scrollbar {
    display: none;
}

    
    
    .trilho{
        width: 60px;
        height: 25px;
        background-color: #4d4d4d;
         transform: translateX(2200%);
         position: relative;
         border-radius: 150px;   
         cursor: pointer;
        
    }

    .trilho .indicador{
        width: 24px;
        height: 24px;
        background-color: #000;
        border-radius: 50%;
        transform: scale(.9);
        position: absolute;
        left: 0;
        transition: .4s;
    }
     .trilho.dark{
        background-color: #c3c3c3;
     }

    .trilho.dark .indicador{
        left: 36px;
        background-color: #fff;
    }
    body.dark{
        background-color: #e4e4e4;
    }
    body.dark h1{
        color: #000;
    }
    body.dark a{
        color: #000;
    }
    body.dark nav.menu.lateral{
       background-color: rgb(228, 225, 225);
    }
    body.dark li.item-menu a{
        color: #000;
    }
    body.dark .ball{
        background-color: rgb(207, 168, 70);
    }
     body.dark li.item-menu:hover{
        background-color: #e3b53f;
     }
     body.dark .menucentral{
        background-color: #cdcaca;
     }
      body.dark .btn-expandir > i{
        color: #000;
      }
      body.dark p{
        color: #000;
      }

    
    ul{color: white;
        padding: 0;
        list-style: none;}

    
    a{
        color: white;
        text-decoration: none;
        display: flex;
        margin-bottom: 20px;
        
    }
      
    
    img{


padding-left: 0;
padding-top: 0;
border: 3px solid #Daa520;
 width: 70%; 
 height: auto; 
 margin: 5px; }
    
    .center{
        text-align: center;
    }
  
    *{
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



body{
    
     background-color: rgb(31, 29, 29);
    transition: .5s;
    overflow-x: hidden; 
 

   
      
}
nav.menu.lateral{
    width: 80px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #Daa520;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
    z-index: 1000;
}
nav.menu.lateral:hover{
    width: 300px;

}


.btn-expandir{
    width: 100%;
    padding-left: 10px;

}
.btn-expandir > i{
    color: white;
    font-size: 30px;
    cursor: pointer;


}
ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu:hover{
    background-color: #Daa520;
}

ul li.item-menu{
    transition: .1s;
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 40px;
}
ul li.item-menu a .icon > i{
font-size: 30px;
margin-left: 0;


}
footer {
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
   transform: translateY(30px);
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 8px; 
}


footer p, footer span, footer a {
    margin: 0 4px; 
    padding: 0;
}




    
   

