<!DOCTYPE html>
<html>
<head>
    <title>adm edition</title>
</head>
<body>
    <h1>ta funcionando nao, ignora :)</h1>
    <H2>AREA DE ADIMINISTRADOR</H2>
    <form action="/ADM" method="POST">

        <label for="casas">escolha uma casa:</label>
        <select id="casa" name="casa!">
            <option value=0>casas</option>
            <option  value="jaguar">jaguar</option>
            <option value="urubu">urubu</option>
            <option value="sarue">sarue</option>
            <option value="onça">onça</option>
        </select>adicionar <input type="number" name="Addpontos" />
        <button type="submit">enter</button>
    </form>
    <form action="/ADM" method="POST">
        <button type="submit" name="aula_boa" value="150">aula boa</button>
        <button type="submit" name="aula_exelente" value="300">aula exelente</button>
        <button type="submit" name="prova_paulista" value="200">prova paulista</button>
        <button type="submit" name="boletim_azul" value="100">boletim azul</button>
        <button type="submit" name="bom_comportamento" value="200">bom comportamento</button>
        <button type="submit" name="frequência_acima_75%" value="150">frequência acima 75%</button>
        <button type="submit" name="participação_em_projetos" value="200">participação em projetos</button>
        <button type="submit" name="atitude_positiva" value="200">atitude positiva</button>
    </form>
    <form action="/ADM" method="POST">
        <button type="submit" name="-fone" value="-100">-fone</button>
        <button type="submit" name="-dorir" value="-100">-dorir</button>
        <button type="submit" name="-infaçao_media" value="-300">-infaçao media/aula ruim</button>
        <button type="submit" name="-atitudo_negativa" value="-200">-atitude negativa</button>
        <button type="submit" name="-relatório" value="-300">-relatório</button>
        <button type="submit" name="-convocaçao/suspensão" value="-400">-convocaçao/suspensão</button>
        <button type="submit" name="-indisiplina" value="-200">-indisiplina</button>
        <button type="submit" name="-indisiplina" value="-150">-frequência_baixo_75%</button>
        <button type="submit" name="-celular" value="-200">-celular</button>
        <button type="submit" name="-sala desorganizada" value="-200">-sala desorganizada</button>
    </form>
    <ul>
        {%  for tesk in tesks %}
        <li>{{tesk}}</li>
        {% endfor %}
    </ul>  



</body>
</html>