<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Taça das Casas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/pontuation-style.css">
</head>
<body>
  <form method="post" id="periodo">
  <select class="flex-1 p-2 border rounded" required>
    <option value="0" id="Classe_manha">Manhã</option>
    <option value="1" id="Classe_tarde">Tarde</option>
    <option value="2" id="Classe_noite">Noite</option>
  </select>
    <button type="submit" name="periodo" class="bg-green-500 text-white px-4 py-2 rounded">Confirmar</button>
  </form>
  <div class="ranking">
    <table id="listaRanking">
      <thead>
        <tr>
          <th>Casa</th>
          <th>Pontuação</th>
        </tr>
      </thead>
      <tbody id="classes">
      </tbody>
    </table>
  </div>


<script>
// FUNÇÃO QUE ADICIONA O ELEMENTO DA SALA NO RANKING
function addClass(className, pontuation) {
  var listElement = document.getElementById("classes")
  newTr = document.createElement("tr")

  const a = document.createElement("td"); a.textContent = className; newTr.appendChild(a)
  const b = document.createElement("td"); b.textContent = pontuation; newTr.appendChild(b)

  listElement.appendChild(newTr)
}

// PEGA O NOME DE TODAS AS CLASSES ALCOADAS NO DATABASE EM ORDENAÇÃO
function fetchClassesName() {
  return fetch('/classes-name')
    .then(res => {
      if (!res.ok) throw new Error(res.statusText);
      return res.json();
    })
    .then(data => data.names);
}

// PEGA OS PONTOS DE TODAS AS CLASSES NO DATABASE EM ORDENAÇÃO
function fetchClassesPontuation() {
  return fetch('/classes-points')
    .then(res => {
      if (!res.ok) throw new Error(res.statusText);
      return res.json();
    })
    .then(data => data.names);
}

// Faz todas as aquisições a API necessarias (nome e pontos de todas as salas)
fetchClassesName()
  .then(classesName => {
    const names = classesName
    fetchClassesPontuation()
      .then(classesPoints => {
        const points = classesPoints;

        //Cria um novo Tr para cada sala atribuindo seus nomes e pontos.
        for (var c = 0; c < names.length; c++) {
          addClass(names[c], points[c])
        }
      })
      .catch(err => console.error(err));
  })
  .catch(err => console.error(err));
</script>
<script src="../static/js/period_select.js"></script>
</body>
</html>
