<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/ranking.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <title>Ranking</title>
</head>
<body>

  <h1>Ranking das Salas</h1>
  <div class="container">

    <!-- DINAMIC ADDITION WITH JS HERE! -->
    <div class="item" id="name">
      <div class="classificacao">1</div>
      <div class="retangulo">
        <div class="name">Sala 1</div>
        <div class="conteudo-horizontal">
          <img src="" alt="Imagem" class="icon">
          <div class="pontos">1000 pontos</div>
        </div>
      </div>
    </div>

</body>

<script src="../static/js/ranking.js"></script>
<script src="../static/js/changeTheme.js"></script>
</html>
