<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/rules.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    
</head>
</head>
<body>
    
<h1>Regras</h1>
  <h2>Ações que Geram Pontos.</h2>

  <div class="regra">Aula Boa (+150)✅
    <span>Turma participa bem e mostra bom desempenho.</span>
  </div>
  <div class="regra">Aula Excelente (+300)✅
    <span>Desempenho excepcional durante a aula.</span>
  </div>
  <div class="regra">Prova Paulista (+200)✅
    <span>Turma vai bem na Prova Paulista.</span>
  </div>
  <div class="regra">Boletim Azul (+100)✅
    <span>Adiciona 100 pontos a cada aluno que tiver um boletim completo apenas com notas azuis.</span>
  </div>
  <div class="regra">Bom Comportamento (+200)✅
    <span>Turma bem comportada e respeitosa.</span>
  </div>
  <div class="regra">Frequência Acima de 75% (+150)✅
    <span>Turma terminar o mês com mais de 75% de frequência.</span>
  </div>
  <div class="regra">Participação em Projetos (+200)✅
    <span>Turma envolvida em projetos escolares.</span>
  </div>
  <div class="regra">Atitude Positiva (+200)✅
    <span>Comportamento colaborativo e proativo.</span>
  </div>

  <h2>Ações que resultam na perda de pontos.</h2>

  <div class="regra remover">Fone (-100)🟥
    <span>Uso de fones durante a aula.</span>
  </div>
  <div class="regra remover">Dormir (-100)🟥
    <span>-100 pontos por cada aluno que estiver dormindo.</span>
  </div>
  <div class="regra remover">Infração Média (-300)🟥
    <span>Comportamento inadequado de média gravidade.</span>
  </div>
  <div class="regra remover">Atitude Negativa (-200)🟥
    <span>Falta de respeito ou má postura.</span>
  </div>
  <div class="regra remover">Relatório (-300)🟥
    <span>Receber um relatório do professor.</span>
  </div>
  <div class="regra remover">Suspensão (-400)🟥
    <span>Aluno ser suspenso da escola.</span>
  </div>
  <div class="regra remover">Indisciplina (-200)🟥
    <span>Quebra de regras escolares.</span>
  </div>
  <div class="regra remover">Frequência Baixa (-150)🟥
    <span>Turma com frequencia abaixo de 75%.</span>
  </div>
  <div class="regra remover">Celular (-200)🟥
    <span>Uso indevido de celular em aula.</span>
  </div>
  <div class="regra remover">Sala Desorganizada (-200)🟥
    <span>Ambiente deixado sujo, bagunçado ou desorganizado.</span>
  </div>
<script src="../static/js/changeTheme.js"></script>
</body>
</html>